# API
NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_CHAT_WS_URL=ws://localhost:8080/ws-chat
NEXT_PUBLIC_CHAT_SOCKJS_URL=
NEXT_PUBLIC_CHAT_STOMP_SUBSCRIBE_DEST_TEMPLATE=/topic/chat/rooms/{chatRoomId}
NEXT_PUBLIC_CHAT_STOMP_SEND_DEST_TEMPLATE=/pub/chat/rooms/{chatRoomId}/messages

# R2
R2_HOST=
NEXT_PUBLIC_R2_HOST=$R2_HOST
NEXT_PUBLIC_R2_BASE_URL=https://$R2_HOST/

# SENTRY
SENTRY_AUTH_TOKEN=
