# API
DOMAIN=
NEXT_PUBLIC_API_URL=http://api.$DOMAIN

# WEBSOCKET
WS_URL=wss://$DOMAIN

## CHAT
NEXT_PUBLIC_CHAT_WS_URL=$WS_URL/ws-chat

# R2
R2_HOST=cdn.$DOMAIN
NEXT_PUBLIC_R2_HOST=$R2_HOST
NEXT_PUBLIC_R2_BASE_URL=https://$R2_HOST/

# SENTRY
SENTRY_AUTH_TOKEN=
